<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>

{%- if page.has_form == yes -%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script>
  $("#contact-form").submit(function(e) {
    e.preventDefault();
    
    var form = $(this);
    $.post(form.attr("action"), form.serialize()).then(
      function() {
        alert("Thank you!");
        form[0].reset();
      },
      function() {
        alert("Oops, something went wrong - Please try again");
      }
    );
  });
</script>
{%- else -%}
  <div>The expression was false</div>
{%- endif -%}